*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    user-select: none;
}
img{
    pointer-events: none;
}
@font-face {
    font-family: sora;
    src: url(./Sora/Sora-VariableFont_wght.ttf);
}
@font-face {
    font-family: poppins;
    src: url(./Poppins/Poppins-Light.ttf);
}
html{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #FEFEF4;
}

@keyframes bounce {
    to{
        transform: scale(0.95);
    }
}
body{
   
    background-image: url(Images/3\ lines\ hexa.png);
    background-repeat: no-repeat;
    background-position: right  top;
    background-size: 55%;
    font-family: sora;
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    line-height: 8px;
    height: 90px; 
    font-family: poppins;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #FEFEF4;
}
.mobile-search-btn .bi-search{
    display: none;
}
#check{
    display: none;
}
.menu-icon{
  display: none;
}
nav label{
    margin-top: 0rem;
    display: flex;
 position: relative;
 right: 9%;
}
nav label img{
    width: 70%;

}
nav ul{
    margin-top: 0.8rem;
    position: relative;
    right: 6%;
}
nav ul li{
    display: inline;
    margin: 2rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
    line-height: 45px;
    text-transform: capitalize;
}
nav button{
    width: 180px;
    height: 55px;
    color: white;
    background-color: #171717;
    border-radius: 8px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 45px;
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
 
}
.bi-search{
    font-size: 2rem;
    color: inherit;
}
.nav-button-section img{
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 1;
}
.hero1-img{
    z-index: 1;
    width: 35rem;
    margin-top: 9rem;
    margin-top: 8 rem;

}
.header-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0rem;
    
}
.header-text{
    margin-top: 8rem;
}
.header-text h1{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 81px;
    width: 36.75rem;
    
}
.header-text h1 span{
    color:  #FF521B;
}

.header-container p{
    width: 558px;
    height: 84px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-top: 1rem;
}
.header-container p a{
    text-decoration: none;
    color: #FF521B;
}
.header-text .explore{
    width: 30%;
    height: 60px;
    background: #171717;
    border: 2px solid #171717;
    border-radius: 10px;
    color: white;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4375rem;
    line-height: 45px;
    margin-top: 1.2rem;
    margin-right: 2rem;
    cursor: pointer;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
}
.header-text .explore:focus, .header-text .create:focus{
    -webkit-animation: bounce .3s  alternate;
    -moz-animation: bounce .3s  alternate ;
    animation: bounce .3s  alternate;
}
.header-text .create{
    width: 30%;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    color: #FF521B;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.4375rem;
    line-height: 45px;
    border: 2px solid black;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
    /* box-shadow: #fff 0px 0px 0 0, #000 4px 4px 0 0px; */

}
.second-head-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3.5rem;
    margin-bottom: 0rem;
}
div.amount{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 3rem; */
    width: 30%;
    margin-right: 10%;
}
div.amount h3{
    font-size: 2rem;
}
div .amount h4{
    color: #FF521B;
    margin-top: 0.3rem;
}
.under-head-img-container{
    width: 35rem;
    height: fit-content;
    background-color: white;
    border: 4px solid black;
    border-radius: 8px;
  
}
.amount-orange-container{
    display: flex;
    gap: 3rem;
    margin-left: 11.5%;
    color: #FF521B;
    font-weight: 600;
    position: relative;
    bottom: 1rem;
}
 .bid-time-container{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.bid-time-child{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
    
}
.bid-time-child h4{
    margin-bottom: 1rem;
}
.bid-time-container h3{
    color: #FF521B;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1rem;
}
.top-flex{
    display: flex;
    justify-content: space-between;
}
.top-coins-container{
    display: flex;
}
.top-flex h3{
    font-size: 1.64rem;
    font-weight: 600;
}
.top-flex h4{
    color: #FF521B;
    font-size: 1.6rem;
    padding: 0.4rem;
}
.top-flex h4:hover, .top-sellers h4:hover, .life-nft h4:hover{
    background-color: #FF521B;
    color: white;
    border-radius: 4px;
}
.top-coins-container{
    margin-left: 11%;
    gap: 1.5rem;
}
.top-dropdown-container{
    overflow: hidden;
    cursor: pointer;
    margin-right: 10%;
   
}
.top-flex .dropdown-content{
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    width: 120px;
    padding: 0.3rem;
}
.top-sellers .dropdown-content, .life-nft .dropdown-content{
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    width: 10.5625rem;
    padding: 0.3rem;
}
.top-dropdown-container:hover .dropdown-content{
    display: block;
}
.dropdown-content li{
    line-height: 2;
    list-style: none;
}
.top-flex .dropdown-content a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    padding: 0.2rem;

}
.dropdown-content a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 0.2rem;
   

}
.dropdown-content a:hover{
    background-color: rgb(230, 230, 234);
    
}

.eth-btn{
    width: 3.3rem;
    height: 3.3rem;
    background-color: white;
    border-radius: 2.55314px;
    box-shadow: black 3px 3px 0 0, #000 3px 3px 0 0.5px;
    cursor: pointer;
    margin-right: 1rem;
  
}
.sol-btn, .kebab-menu{
    width: 3.3rem;
    height: 3.3rem;
    background-color: black;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
    border-radius: 2.55314px;
    cursor: pointer;
    margin-right: 1rem;
   
}
.eth-btn:focus, .sol-btn:focus, .kebab-menu:focus{
    -webkit-animation: bounce .3s  alternate;
    -moz-animation: bounce .3s  alternate ;
    animation: bounce .3s  alternate;
}

.top-collections{
    background-image: url(./Images/top-collections3lines.png);
    background-repeat: no-repeat;
    background-size: 70%;
    margin-top: 7rem;
    height: 52rem;
}

.top-collections-container{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    flex-shrink: 0;
    gap: 4rem;
    margin-left: 11%;
    width: 100%;
    margin-top: 3rem;
}



.slider1, .slider2, .slider3, .slider4, .slider5, .slider6{
    width: 25%;
    flex-grow: 1;
    margin-bottom: 3rem;
}
.slider6{
    margin-right: 14rem;
}
.avatar{
   
}
.avatar-container{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    gap: 5rem;
    width: 100%;
}
.avatar-pic{
    width: 37%;
    margin-left: 4rem;
}
.avatar-text h3{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 68px;
    width: 70%;
}
.avatar-text p{
    width: 30rem;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: justify;
}
.avatar-text span{
    color: #FF521B;
}
.avatar button{
    width: 18rem;
    height: 3rem;
    background: #171717;
    border-radius: 10px;
    color: white;
    font-family: sora;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
}
.life-nft{
    margin-top: 8rem;
}
.life-nft-container{
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
   text-align: center;
    
}
.life-top-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.life-top-flex h3{
    font-weight: 600;
    font-size: 2.25rem;
    margin-left: 11%;
}
.life-top-flex h4{
    font-size: 1.625rem;
    color: #FF521B;
    padding: 0.4rem;
}
.life-nft-container img{
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.life-1, .life-2, .life-3, .life-4, .life-5, .life-6{
    border: 2px solid black;
    padding: 2rem;
    border-radius: 20px;
    width: 25%;
}
.life-nft-btn{
    width: 13rem;
    height: 4rem;
    background: #171717;
    border-radius: 10px;
    font-weight: 600;
    font-size: 22px;
    color: white;
    margin-left:auto;
    margin-right: auto;
    display: block;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
    margin-bottom: 3rem;
}
.top-sellers-container ol{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
  
}
.top-sellers-container ol img{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.top-sellers-btn{
    width: 13rem;
    height: 4rem;
    background: #171717;
    border-radius: 10px;
    font-weight: 600;
    font-size: 22px;
    color: white;
    margin-left:auto;
    margin-right: auto;
    display: block;
    border: none;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
    margin-bottom: 3rem;
}
.seller-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.seller-header h3{
    font-weight: 600;
    font-size: 2.25rem;
    margin-left: 11%;
}
.seller-header h4{
    font-size: 1.625rem;
    color: #FF521B;
    padding: 0.4rem;
} 
.your-nft{
    margin-top: 8rem;
}
.your-nft h3{
    margin-bottom: 5rem;
    margin-left: 8%;
    font-size: 1.7rem;
}
.your-nft-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.your-nft-container p{
    line-height: 1.5rem;
}
.own-1, .own-2, .own-3, .own-4{
    width: 20%;
    height:fit-content;
    background: rgba(235, 235, 235, 0.7);
    border: 1.96242px solid #FFFFFF;
    backdrop-filter: blur(0.784968px);
    border-radius: 22px;
    text-align: center;
}

.your-nft h4{
    font-size: 1.15rem;
    
}
.own-2 img , .own-3 img, .own-4 img{
    width: 30%;
    position: relative;
    bottom: 3rem;
}
.own-1 img{
    width: 30%;
    position: relative;
    bottom: 3rem;
}
.own1-text, .own2-text, .own3-text, .own4-text{
    position: relative;
    bottom: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.98rem;
}
.your-nft p{
    margin-top: 0.6rem;
}
.label-container label img{
    margin-bottom: 2rem;
}
.your-nft-btn{
    width: 13rem;
    height: 4rem;
    background: #171717;
    border-radius: 10px;
    font-weight: 600;
    font-size: 22px;
    color: white;
    margin-left:auto;
    margin-right: auto;
    display: block;
    border: none;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
    margin-top: 3rem;
}
.bi-twitter, .bi-instagram, .bi-discord, .e-mail{
    margin-right: 0.7rem;
}
footer{
    background: black;
    color: white;
    padding: 2.5rem;
    margin-top: 5rem;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
    
}
footer h3{
    color: #FF521B;
    margin-bottom: 1rem;
    text-transform: capitalize;
   

}
footer ul{
    line-height: 2.3;
    list-style: none;
    font-size: 0.9rem;
    text-transform: capitalize;

}
.label-container p{
    width: 24.555rem;
    font-family: 'Sora';
    font-style: normal;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}
.updates p{
    width: 24.555rem;
    font-family: 'Sora';
    font-style: normal;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.label-container svg{
    width: 3rem;
    height: 3rem;
    fill: black;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    box-shadow: #000 3px 3px 0 0, #fff 3px 3px 0 0.5px;
   
}
.social-icons{

}
.footer-hl-container{
    margin: 0 auto;
}
.footer-hl{
    border-bottom: 2px solid white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.copyright-section{
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 0.9rem;
}
.copyright-section  .copyright-p1{
    margin-left: 5%;
}
.copyright-section div{
    display: flex;
    gap: 2rem;
    margin-right: 7%;

}
.copyright-section-mobile{
    display: flex;  
    justify-content: space-between;
}
.footer-dropdown-container{
    display: none;
    
}
.email-container{
    margin-top: 1rem;
}
.email-container #footer-email{
    padding: 10px;
    width: 60%;
    border: 3px solid #FF521B;
    border-radius: 15px;
    background-color: white;
    
}
.email-container .footer-btn{
    padding: 10px;
    width: 30%;
    background-color: white;
    color: #FF521B;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
}
@media screen  and (max-width: 600px){
    body{
        overflow-x: hidden;
        background-image: none;
        background: #FFFEE3;
        
    }
    main{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    nav label{
     right: 0%;
    }
    .nav-logo img{
        width: 65%;
        margin-left: 1rem;
        
    }
    #check{
        display: none;
    }
    .menu-icon{
       width: 1.8rem;
       display: block;
       margin-right: 1.8rem;
       z-index: 4;
    }
    nav{
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        height: 3.4rem;
        position: fixed;
        z-index: 2;
        background: #FFFEE3;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.22);

    }
    
     nav button{
        display: none;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        margin-top: 0rem;
        background: #FF521B;
        left: -100%;
        transition: ease-out .4s;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        display: flex;
       
    
    }
    nav ul li{
        display: block;
        right: 0rem;
        position: relative;
        line-height: 0.1rem;
        text-transform: uppercase;
        margin: 0.7rem;
        position: relative;
        top: 0%;
    }
    nav ul li a{
        font-size: 1.1rem;
        color: black;
        font-weight: lighter;
    }
    a:hover,a.active{
        background: none;
        color: gray;
    }
    #check:checked~ ul {
        left: 0;
        
    }
    .nav-button-section{
        display: none;
    }
    .mobile-search-btn .bi-search{
        font-size: 1rem;
        margin-right: 0rem;
        line-height: 3.3;
        display: block;
        position: relative;
        left: 1rem;
    }
    
   
    .nav-button-section .bi-search{
        font-size: 1.1rem;
        margin-right: 1rem;
        display: none;
     
    }
    .header-container{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-top: 0;
    }
    .header-text{
        margin-top: 5rem;
    }
   
    .header-text h1{     
    font-style: normal;
    font-weight: 600;
    font-size: 1.8125rem;
    line-height: 2.75rem;
    text-align: center;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
     display: block;
    }
    .header-container p{
        width: 80%;
        height: 84px;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 1rem;
    }
    .hero1-img{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        z-index: 1;
        margin-top: 0;
    }

    .header-text .explore{
        width: 40%;
        height: 3rem;
        background: #171717;
        border: 2px solid #171717;
        border-radius: 10px;
        color: white;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 45px;
        margin-top: 1.2rem;
        margin-bottom: 2rem;
        margin-right: 1rem;
        cursor: inherit;
    }
    .header-text .create{
        width: 40%;
        height: 3rem;
        border-radius: 10px;
        background: transparent;
        color: #FF521B;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 45px;
        border: 2px solid black;
    
    }
    .header-container .head-btn-container{
        text-align: center;
    }
    .second-head-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    div.amount{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.6rem;
        width: 100%;
        margin-right: 0%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
       
    }
    div.amount h3{
        font-size: 1.4rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 1rem;
    }
    div .amount h4{
        margin-left: auto;
        margin-right: auto;
        display: block;
        color: #FF521B;
        margin-top: 0rem;
    }
    .under-head-img-container{
        width: 95%;
        height: fit-content;
        background-color: white;
        border: 4px solid black;
        border-radius: 8px;
        margin-top: 1rem;
    }
    
    .amount-orange-container{
        display: flex;
        gap: 0rem;
        margin-left: 0;
        color: #FF521B;
        font-weight: 600;
        position: relative;
        bottom: 1.5rem;
       
    }
    .amount-orange-container h4{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    

   
.under-head-img-container{
    width:95%;
    height: fit-content;
    background-color: white;
    border: 4px solid black;
    border-radius: 8px;
  
}
.amount-orange-container{
    display: flex;
    gap: 3rem;
    margin-left: 11.5%;
    color: #FF521B;
    font-weight: 600;
    position: relative;
    bottom: 1rem;
}
 .bid-time-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.bid-time-child{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
    width: 80%;
    
}
.bid-time-child h3{
    font-size: 0.4rem;
}
.bid-time-child h4{
    margin-bottom: 1rem;
    font-size: 0.4rem;
   
}
    .top-flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .top-flex h3{
        font-size: 1.7rem;
        font-weight: 600;
        margin-left: 0%;
        text-align: center;
    }
   
    
    .top-coins-container{
        display: flex;
        margin-left: 0%;
        gap: 1.5rem;
        flex-direction: column;
        align-items: center;
    }


    .eth-btn{
        width: 3rem;
        height: 3rem;
        background-color: white;
        border-radius: 2.55314px;
        box-shadow: black 3px 3px 0 0, #000 3px 3px 0 0.5px;
        cursor: inherit;
        margin-right: 0;
        margin: 0.8rem;
    
    }
    .sol-btn, .kebab-menu{
        width: 3rem;
        height: 3rem;
        background-color: black;
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
        border-radius: 2.55314px;
        cursor: inherit;
        /* margin: 0.8rem; */
        margin-right: 1rem;
    
    }
    .btn-3{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .top-collections{
        background-image: url(./Images/top-collections3lines.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: 7rem;
        height: fit-content;
        margin-bottom: 3rem;
    }
    .top-collections-container{
        display: flex;
        align-items: center;
        overflow-x: scroll;
        flex-shrink: 0;
        gap: 2rem;
        margin-left: 1rem;
        width: 100%;
        margin-top: 3rem;
    }
    
    .top-flex h4{
        color: #FF521B;
        font-size: 1.4rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
        padding: 0.4rem;
        border-radius: 3px;
        border: 2px solid black;
        background-color: transparent;
        
    }
    .top-coins-container{
        margin-left: 0%;
        gap: 1.5rem;
    }
    .top-dropdown-container{
        overflow: hidden;
        cursor: inherit;
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        margin: auto;
       text-align: center;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        z-index: 1;
    }
    .top-dropdown-container:hover .dropdown-content{
        display: block;
    }
    .dropdown-content li{
        line-height: 2;
        list-style: none;
        
    }
    .dropdown-content a{
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
        

    }
    .dropdown-content a:hover{
        color: #FF521B;
        background-color: wheat;
    }

    .slider1, .slider2, .slider3, .slider4, .slider5, .slider6{
        width: 70%;
        margin-right: 1rem;
    }
    .slider6{
        margin-right: 3rem;
    }
    .avatar-container{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 5rem;
    }
    .avatar-pic{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .avatar-text h3{
        font-weight: 600;
        font-size: 1.4rem;
        line-height: normal;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    
    }
    .avatar-text p{
        width: 91%;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 1rem;
    }
    .avatar button{
        width: 70%;
        height: 3rem;
        background: #171717;
        border-radius: 10px;
        color: white;
        font-family: sora;
        font-weight: 600;
        font-size: 0.9rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
        
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
    }
    .life-nft{
        margin-top: 3rem;
    }
    .life-nft-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }
    .life-1, .life-2, .life-3, .life-4, .life-5, .life-6{
        border: 2px solid black;
        padding: 0.7rem;
        border-radius: 10px;
        width: 95%;
    }
    .life-top-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    .life-top-flex h3{
        font-weight: 600;
        font-size: 1.7rem;
        margin-left: 0%;
        text-align: center;
    }
    .life-top-flex h4{
        font-size: 1rem;
        padding: 0.4rem;
        color: #FF521B;
        background: transparent;
        border: 2px solid black ;
        width: 90%;
        border-radius: 3px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .life-nft-container img{
        margin-bottom: 1rem;
        margin-left: 0rem;
    }
    .life-nft-btn{
        width: 70%;
        height: 3.125rem;
        background: #171717;
        border-radius: 10px;
        font-weight: 600;
        font-size: 22px;
        color: white;
        margin-left:auto;
        margin-right: auto;
        display: block;
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
        margin-bottom: 2rem;
       
    }
    .top-sellers{
        margin-top: 5rem;
    }
    .top-sellers-container ol{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
      
    }
    .top-sellers-container ol img{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .top-sellers-btn{
        width: 70%;
        height: 3.125rem;
        background: #171717;
        border-radius: 10px;
        font-weight: 600;
        font-size: 22px;
        color: white;
        margin-left:auto;
        margin-right: auto;
        display: block;
        border: none;
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
        margin-bottom: 3rem;
    }
    .seller-header{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .seller-header h3{
        font-weight: 600;
        font-size: 1.6rem;
        margin-left: 0%;
        text-align: center;
        
    }
    .seller-header h4{
        font-size: 1rem;
        padding: 0.4rem;
        color: #FF521B;
        background: transparent;
        border: 2px solid black ;
        width: 90%;
        border-radius: 3px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    } 
    
    .your-nft-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .your-nft-container p{
        line-height: 1.5rem;
    }
    .your-nft h3{
        margin-bottom: 5rem;
        margin-left: auto;
        margin-right: auto;
     text-align: center;
        font-size: 1.3rem;
        width: 90%;
    }
    .own-1, .own-2, .own-3{
        width: 80%;
        height:fit-content;
        background: rgba(235, 235, 235, 0.7);
        backdrop-filter: blur(0.784968px);
        border-radius: 9.41962px;
        text-align: center;
        margin-bottom: 2rem;
        
    }
     .own-4{
        width: 80%;
        height:fit-content;
        background: rgba(235, 235, 235, 0.7);
        backdrop-filter: blur(0.784968px);
        border-radius: 9.41962px;
        text-align: center;
     }
    .own-2 img , .own-3 img, .own-4 img{
        width: 30%;
        position: relative;
        bottom: 3rem;
    }
    .own-1 img{
        width: 36%;
        position: relative;
        bottom: 3rem;
    }
    .own1-text, .own2-text, .own3-text, .own4-text{
        position: relative;
        bottom: 2rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.8rem;
    }
    .your-nft-btn{
        width: 70%;
        height: 3.125rem;
        background: #171717;
        border-radius: 10px;
        font-weight: 600;
        font-size: 22px;
        color: white;
        margin-left:auto;
        margin-right: auto;
        display: block;
        border: none;
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
    }
    .footer-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        text-align: center;
        
    }
    
    .label-container label img{
        margin-bottom: 1rem;
        margin-top: 1rem;
        width: 40%;
    }
    .bi-twitter, .bi-instagram, .bi-discord, .e-mail{
        margin-right: 0.7rem;
    }
    footer{
        background: black;
        color: white;
        padding: 1rem;
        margin-top: 4rem;
    }
    footer h3{
        color: #FF521B;
        margin-bottom: 1rem;
        text-transform: capitalize;
        font-size: 1rem;

    }
    footer ul{
        line-height: 2.3;
        list-style: none;
        font-size: 0.9rem;
        text-transform: capitalize;

    }
    .label-container p{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Sora';
        font-style: normal;
        font-size: 0.8rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }
    .updates p{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Sora';
        font-style: normal;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .label-container svg{
        width: 2.1rem;
        height: 2.1rem;
        fill: black;
        background-color: white;
        padding: 8px;
        border-radius: 7px;
        box-shadow: #000 3px 3px 0 0, #fff 3px 3px 0 0.5px;
    
    }
    .company, .market-place{
        text-align: left;
    }
    .company ul, .market-place ul, .company h3, .market-place h3{
        display: none;
    }
    .updates{
        margin-bottom: 2rem;
    }
    .social-icons{

    }
    .footer-hl-container{
        margin: 0 auto;
    }
    .footer-hl{
        border-bottom: 2px solid white;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
    .copyright-section{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        margin-top: 2rem;
        font-size: 0.9rem;
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .copyright-section  .copyright-p1{
        margin-left: 0%;
        font-size: 0.65rem;
        margin-top: 1rem;
    }
    .copyright-section div{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        gap: 0rem;
        margin-right: 0%;
        font-size: 0.7rem;
    }
    .copyright-section-mobile{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-dropdown-container{
        overflow: hidden;
        display: block;
      
       
    }
    .footer-dropdown-container .drop-icon-container{
        display: flex;
        justify-content: space-between;
    }
    .footer-dropdown-content{
        display: none;
        /* background: #FF521B; */
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        z-index: 1;
        width: 100%;
        padding: 0.3rem;
        text-transform: capitalize;

    
    }
    .footer-dropdown-content li{
        line-height: 2;
        list-style: none;
    }
    .footer-dropdown-container h4{
        color: #FF521B;
    }
    
    .footer-dropdown-container:hover .footer-dropdown-content{
        display: block;
    }
    .company .footer-dropdown-container{
        margin-bottom: 2rem;
    }
    .email-container{
        margin-top: 1rem;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .email-container #footer-email{
        padding: 10px;
        width: 80%;
        border: 3px solid #FF521B;
        border-radius: 15px;
        background-color: white;
        
    }
    .email-container .footer-btn{
        padding: 10px;
        width: 50%;
        background-color: white;
        color: #FF521B;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 15px;
        margin-top: 0.6rem;
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
    }

   
}

@media screen and (min-width:601px) and (max-width:1204px){
    body{
        overflow-x: hidden;
        background-image: none;
        background: #FFFEE3;
        
    }
    main{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    nav label{
     right: 0%;
    }
    .nav-logo img{
        width: 65%;
        margin-left: 1rem;
        
    }
    #check{
        display: none;
    }
    .menu-icon{
       width: 1.8rem;
       display: block;
       margin-right: 1.8rem;
    }
    nav{
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        height: 3.4rem;
        position: fixed;
        z-index: 1;
        background: #FFFEE3;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.22);

    }
    
     nav button{
        display: none;
    }
    nav ul{
        position: fixed;
        width: 60%;
        height: 100vh;
        background: #FF521B;
        top: 0rem;
        left: -70%;
        margin-top: 3rem;
        transition: ease-in .5s;
        flex-direction: column;
        text-align: left;
       
    
    }
    nav ul li{
        display: block;
        right: 0rem;
        position: relative;
        line-height: 0.1rem;
        text-transform: uppercase;
        margin: 2rem;
        position: relative;
        top: 8%;
    }
    nav ul li a{
        font-size: 1.1rem;
        color: black;
    }
    a:hover,a.active{
        background: none;
        color: gray;
    }
    #check:checked~ ul {
        left: 0;
    }
    .nav-button-section{
        display: none;
    }
    .mobile-search-btn .bi-search{
        font-size: 1rem;
        margin-right: 0rem;
        line-height: 3.3;
        display: block;
        position: relative;
        left: 1rem;
    }
    
   
    .nav-button-section .bi-search{
        font-size: 1.1rem;
        margin-right: 1rem;
        display: none;
     
    }
    .header-container{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-top: 0;
    }
    .header-text{
        margin-top: 5rem;
    }
   
    .header-text h1{     
    font-style: normal;
    font-weight: 600;
    font-size: 1.8125rem;
    line-height: 2.75rem;
    text-align: center;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
     display: block;
    }
    .header-container p{
        width: 80%;
        height: 84px;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 1rem;
    }
    .hero1-img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        z-index: 1;
        margin-top: 0;
    }

    .header-text .explore{
        width: 40%;
        height: 3rem;
        background: #171717;
        border: 2px solid #171717;
        border-radius: 10px;
        color: white;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 45px;
        margin-top: 1.2rem;
        margin-bottom: 2rem;
    }
    .header-text .create{
        width: 40%;
        height: 3rem;
        border-radius: 10px;
        background: transparent;
        color: #FF521B;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 45px;
        border: 2px solid black;
    
    }
    .header-container .head-btn-container{
        text-align: center;
    }
    .second-head-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    div.amount{
        display: flex;
        gap: 3rem;
        width: 90%;
    }
    div.amount h3{
        font-size: 1.7rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 1rem;
    }
    .under-head-img-container{
        width: 95%;
        height: fit-content;
        background-color: white;
        border: 4px solid black;
        border-radius: 8px;
        margin-top: 1rem;
    }
    
    .amount-orange-container{
        display: flex;
        gap: 0rem;
        margin-left: 0;
        color: #FF521B;
        font-weight: 600;
        position: relative;
        bottom: 1.5rem;
       
    }
    .amount-orange-container h4{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .bid-time-container{
        display: flex;
        justify-content: space-evenly;
    }
    .bid-time-container h3{
        color: #FF521B;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 0.9rem;
    }
    .bid-features{
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.4rem;
        margin-bottom: 0.6rem;
        font-weight: 700;
        font-size: 0.7rem;
    }
    .bid-img{
     display: none;
    
    }
    .top-flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .top-flex h3{
        font-size: 1.7rem;
        font-weight: 600;
        margin-left: 0%;
        text-align: center;
    }
   
    
    .top-coins-container{
        display: flex;
        margin-left: 0%;
        gap: 1.5rem;
        flex-direction: column;
        align-items: center;
    }


    .eth-btn{
        width: 3rem;
        height: 3rem;
        background-color: white;
        border-radius: 2.55314px;
        box-shadow: black 3px 3px 0 0, #000 3px 3px 0 0.5px;
        cursor: inherit;
        margin-right: 0;
        margin: 0.8rem;
    
    }
    .sol-btn, .kebab-menu{
        width: 3rem;
        height: 3rem;
        background-color: black;
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
        border-radius: 2.55314px;
        cursor: inherit;
        /* margin: 0.8rem; */
        margin-right: 1rem;
    
    }
    .btn-3{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .top-collections{
        background-image: url(./Images/top-collections3lines.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: 7rem;
        height: fit-content;
        margin-bottom: 3rem;
    }
    .top-collections-container{
        display: flex;
        align-items: center;
        overflow-x: scroll;
        flex-shrink: 0;
        gap: 2rem;
        margin-left: 1rem;
        width: 100%;
        margin-top: 3rem;
    }
    
    .top-flex h4{
        color: #FF521B;
        font-size: 1.4rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
        padding: 0.4rem;
        border-radius: 3px;
        border: 2px solid black;
        background-color: transparent;
        
    }
    .top-coins-container{
        margin-left: 0%;
        gap: 1.5rem;
    }
    .top-dropdown-container{
        overflow: hidden;
        cursor: inherit;
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        margin: auto;
       text-align: center;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        z-index: 1;
    }
    .top-dropdown-container:hover .dropdown-content{
        display: block;
    }
    .dropdown-content li{
        line-height: 2;
        list-style: none;
        
    }
    .dropdown-content a{
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
        

    }
    .dropdown-content a:hover{
        color: #FF521B;
        background-color: wheat;
    }

    .slider1, .slider2, .slider3, .slider4, .slider5, .slider6{
        width: 70%;
        margin-right: 1rem;
    }
    .slider6{
        margin-right: 3rem;
    }
    .avatar-container{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 5rem;
    }
    .avatar-pic{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .avatar-text h3{
        font-weight: 600;
        font-size: 1.4rem;
        line-height: normal;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    
    }
    .avatar-text p{
        width: 91%;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 1rem;
    }
    .avatar button{
        width: 70%;
        height: 3rem;
        background: #171717;
        border-radius: 10px;
        color: white;
        font-family: sora;
        font-weight: 600;
        font-size: 0.9rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
        
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
    }
    .life-nft{
        margin-top: 3rem;
    }
    .life-nft-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }
    .life-1, .life-2, .life-3, .life-4, .life-5, .life-6{
        border: 2px solid black;
        padding: 0.7rem;
        border-radius: 10px;
        width: 95%;
    }
    .life-top-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    .life-top-flex h3{
        font-weight: 600;
        font-size: 1.7rem;
        margin-left: 0%;
        text-align: center;
    }
    .life-top-flex h4{
        font-size: 1rem;
        padding: 0.4rem;
        color: #FF521B;
        background: transparent;
        border: 2px solid black ;
        width: 90%;
        border-radius: 3px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .life-nft-container img{
        margin-bottom: 1rem;
        margin-left: 0rem;
    }
    .life-nft-btn{
        width: 70%;
        height: 3.125rem;
        background: #171717;
        border-radius: 10px;
        font-weight: 600;
        font-size: 22px;
        color: white;
        margin-left:auto;
        margin-right: auto;
        display: block;
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
        margin-bottom: 2rem;
       
    }
    .top-sellers-container ol{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
      
    }
    .top-sellers-container ol img{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .top-sellers-btn{
        width: 70%;
        height: 3.125rem;
        background: #171717;
        border-radius: 10px;
        font-weight: 600;
        font-size: 22px;
        color: white;
        margin-left:auto;
        margin-right: auto;
        display: block;
        border: none;
        box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 0.5px;
        margin-bottom: 3rem;
    }
    .seller-header{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .seller-header h3{
        font-weight: 600;
        font-size: 1.7rem;
        margin-left: 0%;
        text-align: center;
    }
    .seller-header h4{
        font-size: 1.625rem;
        color: #FF521B;
        padding: 0.4rem;
    } 
}